<div class="layout-wrapper">
  <div id="layout-topbar">
      <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
          <i class="fa fa-bars"></i>
      </a>

      <a href="#" class="logo" [routerLink]="['/']">
          <span>LOGO</span>
      </a>

      <ul class="topbar-menu">
          <li>
              <a href="#" [routerLink]="['/setup']">GET STARTED</a>
          </li>
          <li class="topbar-menu-themes">
              <a href="#">THEMES</a>
              
          </li>
          <li>
              <a [routerLink]="['/support']">SUPPORT</a>
          </li>
      </ul>
  </div>

  <div id="layout-sidebar" [ngClass]="{'active': menuActive}">
      <div class="layout-menu">
          <a id="menu_input" #inputmenutitle [class.active-menuitem]="inputmenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === inputmenutitle.id ? null : inputmenutitle.id)">
              
              <span>Input</span>
          </a>
          

          <a id="button_menutitle" #buttonmenutitle [class.active-menuitem]="buttonmenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === buttonmenutitle.id ? null : buttonmenutitle.id)">
              
              <span>Button</span>
          </a>
          

          <a id="data_menutitle" #datamenutitle [class.active-menuitem]="datamenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === datamenutitle.id ? null : datamenutitle.id)">
              
              <span>Data</span>
          </a>
        

          <a id="menu_panel" #panelmenutitle [class.active-menuitem]="panelmenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === panelmenutitle.id ? null : panelmenutitle.id)">
              
              <span>Panel</span>
          </a>
          

          <a id="menu_overlay" #overlaymenutitle [class.active-menuitem]="overlaymenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === overlaymenutitle.id ? null : overlaymenutitle.id)">
              
              <span>Overlay</span>
          </a>
          
      </div>
  </div>

  <div class="layout-mask" *ngIf="menuActive">
  </div>

  <div id="layout-content">
      <div>
          <router-outlet></router-outlet>
      </div>

      <div class="content-section layout-footer clearfix">
          <div style="text-align:right">Vesion 1.0</div>
          
      </div>
  </div>

</div>