<div class="layout-wrapper">
  <div id="layout-topbar">
      <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
          <i class="fa fa-bars"></i>
      </a>

      <a href="#" class="logo" [routerLink]="">
          <span>LOGO</span>
      </a>

      <ul class="topbar-menu">
          <li>
              <a [routerLink]="[{ outlets: {primary: ['maps'],sidebar: ['shipment'] } }]" id="shipment" #shipment [class.first-menuitem]="firstTopMenuId==true" [class.active-menuitem]="shipment.id == activeTopMenuId" (click)="activeTopMenuId = (activeTopMenuId === shipment.id ? null : shipment.id)">SHIPMENT</a>
          </li>
          <li class="topbar-menu-themes">
              <a [routerLink]="[{ outlets: {primary: ['theme1'],sidebar: ['themes'] } }]" id="theme" #theme [class.active-menuitem]="theme.id == activeTopMenuId" (click)="activeTopMenuId = (activeTopMenuId === theme.id ? null : theme.id);firstTopMenuId=false">THEMES</a>
              
          </li>
      </ul>
  </div>

  <div id="layout-sidebar" [ngClass]="{'active': menuActive}">
    <router-outlet  name="sidebar"></router-outlet>
  </div>

  <div class="layout-mask" *ngIf="menuActive">
  </div>

  <div id="layout-content">
      <div>
          <router-outlet></router-outlet>
      </div>

      <div class="content-section layout-footer clearfix">
          <div style="text-align:right">Vesion 1.0</div>
          
      </div>
  </div>

</div>